html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  color: white;
  background-color: lightgray;
}
/* Navigation */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: grey;
  padding: 10px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
}
nav a img {
  filter: invert();
}
.nav-links {
  padding: 10px;
  border-radius: 5px;
}
.nav-links:hover {
  background-color: black;
}
.more {
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}
/* container */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container-heading {
  display: flex;
  justify-content: center;
  color: black;
  position: relative;
  top: 20px;
  z-index: 1;
  margin-top: -20px;
}
.feature-article1 {
  background-color: #767676;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}
.feature-article1 div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-bottom: 10px;
}
.feature-article1 div div {
  margin-left: 25px;
}

.feature-article2 {
  background-color: #656565;
}

.feature-article3 {
  background-color: #555;
}

.feature-article4 {
  background-color: #444;
}
/* section1 */
section {
  color: black;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 50px;
}
.react {
  color: black;
  text-justify: center;
  column-gap: 10px;
  margin-bottom: 50px;
  background-color: lightgray;
}
section .react {
  margin-left: 30px;
  padding: 20px 10px;
}
.react-date {
  margin-bottom: 10px;
}

.react-title {
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 22px;
}
.react-author {
  margin-bottom: 10px;
  text-decoration: underline;
}

.react-text {
  margin-bottom: 20px;
}
.react:hover {
  background-color: white;
  transform: 0.1s ease-out;
  padding: 50px 30px 0 30px;
}
/* menbership section */
.membership {
  color: white;
  background-color: lightgray;
  display: grid;
  grid-template-areas: "grammarly smashing";
}
.grammarly {
  background-color: green;
  color: white;
  border-radius: 5px;
  width: 360px;
  height: 220px;
  grid-area: grammarly;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin-right: 30px;
  margin-left: 20px;
  padding: 0 10px 0 10px;
}
.grammarly button {
  margin-top: 10px;
}
.grammarly img {
  width: 250px;
  filter: invert();
  display: flex;
  justify-self: center;
  padding-bottom: 20px;
}
.smashing-members {
  background-color: lightcoral;
  height: 650px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  grid-area: smashing;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
  padding: 0 30px 0 30px;
}
.smashing-members img {
  width: 240px;
  height: 290px;
}
.smashing-members a {
  color: white;
  padding: 10px 0 10px 0;
}
.smashing-numbers {
  font-size: 30px;
  font-weight: 500;
}
.smashing-members button {
  margin: 40px 0 20px 270px;
}

/* smashing-tv */
.smashing-tv {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-left: 20px;
}
.smashing h2 {
  font-size: 25px;
  font-weight: 500px;
  text-decoration: underline;
  padding-bottom: 30px;
}
.smashing-tv.react {
  padding-bottom: 30px;
}
.smashing {
  background-color: lightcoral;
  margin: 0 30px 30px 0;
  padding: 0 50px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.smashing p {
  padding: 30px 0 30px 40px;
}
.smashing img {
  width: 240px;
  height: 290px;
}
.smahing button {
  padding: 20px 0 20px 0;
}
.smashing a {
  color: whitesmoke;
}

/* latest articles */
.latest-articles {
  text-align: center;
  color: #444;
}
